<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/singin.css" %}"/>
	<title>Singin</title>
</head>
<body>
    <header class="head">
        <div class="titulo-header">
            <div class="memorize">
                <span>
                    Memorize
                </span>
            </div>
        </div>
    </header>
	{% block main %}
    <section class="container">
        <p class="titulo">
            Login
        </p>
        {% if error_m %}
            <ul class="errorlist"><li>{{error_m}}</li>
            </ul>
        {% endif %}
        <form class="form" name="LoginForm" action="" method="post">
        {%csrf_token%}
            <div class="form-field">
                <label for="username">Usuario</label>
                <div>
                    <input class="text-box" type="text" id="username" name="username">
                </div>
            </div>
            <div class="form-field">
                <label for="password">Contraseña</label>
                <div>
                    <input class="text-box" type="password" name="password" id="password">
                </div>
            </div>
            <div>
               <div>
                    <button type="submit" class="button round">Enviar</button>
                </div>
            </div>
        </form>
    </section>
	{% endblock %}
    <!--
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>*/
    -->
</body>
</html>