<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>Tareas Pendientes</title>
  {% load static from staticfiles %}
  <link rel="stylesheet" href="{% static "css/estilos_tp.css" %}" />
  <script src="{% static "js/show-menu.js" %}"></script>
</head>
<body>
  <header class="head">
      <a href="#" onclick="show_menu()" class="boton_menu icon-menu"></a>
      <nav class="menu">
        <ul class="lista">
          <li class="items"><a href="/">Tareas sin Atencón</a>
          <li class="items"><a href="/tp">Tareas pendientes</a></li>
          <li class="items"><a href="#">Reportes</a></li>
            <li class="items">
              <div>
                  <input type="text" placeholder="Tareas o Actividades" />
                  <a class="icon-search" href="#"></a>
                </div>
            </li> 
          </ul> 
      </nav>
      <div class="titulo-header">
        <div class="memorize">
          <span>Memorize</span>
        </div>
        <div class="usuario">
          <span>{{request.user}}</span>
        </div>
      </div>
      <a href="/" class="logout icon-home"></a>
  </header>
	<h2 class="titulo">Listado de tareas pendientes</h2>
  <section class="container ">
	{% for ind in q_tareas %}
   <article class="tarea">
      <a class="tarea-titulo" href="/actividades/id={{ind.id}}">{{ind.description}}</a>     
      <div class="tarea-datos">
        <div class="right">
          <div>
            {{ind.date_tarea}}
          </div>
          <div>
            {{ind.date_tarea|timesince}}
          </div>      
        </div>    
        <div class="left owner">
          <span>
            {{ind.owner}}
          </span> 
        </div>
      </div>
    </article>
 	{% endfor %}
 </section>
 <a href="add_tarea/" class="button">Nueva Tarea</a>
</body>
</html>