<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home de Memorize</title>
  <link rel="stylesheet" href="/static/css/foundation.css" />
  <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
  <header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a class="icon-home" href="#"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href=""><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <a href="/">Tareas Sin Atencion: {{ids_tarea|length}}</a>
        </li>
      </ul>
      <ul class="left">
        <li><a href="/tp">Tareas pendientes</a></li>
      </ul>
      <ul class="left">
        <li><a href="">Reportes</a></li>
      </ul>
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
              <div class="large-8 small-9 columns">
                  <input type="text" placeholder="Tareas">
              </div>
              <div class="large-4 small-3 columns">
                  <a href="#" class="alert button expand">Busca</a>
              </div>
            </div>
        </li>
      </ul>
      <ul class="right">
        <li><a href="#">Logout</a></li>
        <li class="divider"></li>
      </ul>

      <ul class="right">
        <li class="label"><span>{{request.user}}</span></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
  </header>
	<h3 class="text-center">Listado de tareas pendientes</h3>
  <div class="row">
    <a class="small-12 medium-4 column radius alert label text-center" href="/tareas/tarea_sa">Tareas sin Atencion: {{ids_tarea|length}}</a>
    <p class="small-6 medium-4 column radius secondary label text-left"> Hola: {{request.user}}</p>
    <a class="small-6 medium-4 column radius secondary label text-right" href="/logout_p">Logout</a>
  </div>
  <section class="container ">
	{% for ind in q_tareas %}
    <div class="row panel clearfix">
    	<div class="small-12 small-text-center medium-text-left medium-5 columns">
       			<a href="/actividades/id={{ind.id}}">{{ind.description}}</a>
    	</div>
    	<div class="small-6 medium-3 columns">
            {{ind.owner}}
      </div>
      <div class="small-6 medium-4 columns">
      	   <div>
             {{ind.date_tarea}}
           </div>
           <div>
             Hace: {{ind.date_tarea|timesince}}
           </div>
      </div> 
    </div>
 	{% endfor %}
  <form class="text-center" action="/add_tarea">
    <input class="button round" type="submit" value="Nueva Tarea">
  </form> 
	</section>
  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
</body>
</html>