@import "normalize.styl"

verde = #006A4A
verde_claro = #0E8964
rojo_titulo = #925346

body
	font-size 16px
	font-family 'Myriad Pro Regular'

.center
	text-align center
.head
	background-color verde
	color white
	margin 0
	overflow hidden
.menu
	display none
.left
	float left
.right
	float right


@font-face 
	font-family 'Myriad Pro Regular'
	font-style normal
	font-weight normal
	src local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff')
