@import "normalize.styl"

body
	font-size 16px

.boton
	color white
	float right
	margin-right 1.2em
	background-color #1E326E
	border-color blue
	border-radius 1000px
	padding .3em 1em
			
.container
	color black
	width 320px
	margin auto
.errorlist
	color white
	background-color red
	border-radius 1000px
	width 260px
	
.form
	p
		display block
.titulo
	text-align center
	
#id_description
	width 300px
	
#id_description
	border-left-color blue
	border-left-width 5px
	
