<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<title>tareas sin atencion</title>
	<link rel="stylesheet" href="/static/css/foundation.css" />
  <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
	<header>
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/">Home</a></h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href=""><span>Menu</span></a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li>
					<a href="">Tareas Sin Atencion: {{ids_tarea|length}}</a>
				</li>
			</ul>
			<ul class="left">
				<li><a href="/tareas_pendientes/">Tareas pendientes</a></li>
			</ul>
			<ul class="left">
				<li><a href="">Reportes</a></li>
			</ul>
			<ul class="left">
				<li class="has-form">
					<div class="row collapse">
	    				<div class="large-8 small-9 columns">
	      					<input type="text" placeholder="Tareas">
	    				</div>
	    				<div class="large-4 small-3 columns">
	      					<a href="#" class="alert button expand">Busca</a>
	    				</div>
	  				</div>
				</li>
			</ul>
			<ul class="right">
				<li><a href="logout_p/">Logout</a></li>
				<li class="divider"></li>
			</ul>
			<ul class="right">
				<li class="label"><span>{{request.user}}</span></li>
				<li class="divider"></li>
			</ul>
		</section>
	</nav>
	</header>

	<h2 class="radius alert label text-center">Listado de tareas Sin Atención 
	</h2>
	<section class="container">
	{%for i in tareas_sa%}
		<div class="row panel clearfix">
			<a href="/actividades/id={{i.id}}" class="small-12 small-text-center medium-text-left medium-5 columns">{{i.description}}</a>			
			<div class="small-6 medium-3 columns">
				{{i.owner}}
			</div>
			<div class="small-6 medium-4 columns">
				{{i.date_tarea}}			
			</div>
		</div>
	{% endfor %}
	</section>
</body>
</html>