<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/estilos_tadd.css" %}"/>
	<title>Nueva Tarea</title>
</head>
<body>
	<header class="head">
		<div class="titulo-header">
			<div class="memorize">
				<span>
					Memorize
				</span>
			</div>
		</div>
		<a href="javascript:history.back(-1);" class="logout icon-undo2"></a>
	</header>
	<section class="container">
		<p class="titulo">
			Agrega nueva Tarea
		</p>
		<form class="form" method="post">
    	{% csrf_token %}
    	{{form.as_p}}
    	<input class="button" type="submit" value="Enviar"/>
		</form>	
	</section>
</body>
</html>