@import "normalize.styl"
@import "nib"
@import "fonts.styl"

verde = #006A4A
verde_claro = #0E8964
rojo_titulo = #925346
otro_verde_claro = #66806C


body
	font-size 16px
	font-family 'Myriad Pro Regular'
a
	text-decoration none
.actividad
	padding 0 0 0.5em 0
	border-bottom solid 1px verde_claro
	margin 0.5em 0 0 0
	overflow hidden
	.actividad-titulo
		display block
		color otro_verde_claro
		padding 0 0 1em 0	
.boton_menu
	color white
	font-size 1.5em
	left 1em
	margin-top -10px
	position absolute
	top 50%
.button
	background-color verde
	border-bottom-left-radius 19px
	border-bottom-right-radius 19px
	border-top-left-radius 19px
	border-top-right-radius 19px
	color white
	display block
	left 50%
	margin-left -70px
	padding 0.5em 0.7em
	position fixed
	text-align center
	top 92vh
	width 125px
	z-index 10
.container
	margin 0 0.5em
	height 68vh
	overflow scroll	
	
.head
	background-color verde
	color white
	height 4.1em
	margin 0
	overflow hidden
	position relative
.menu
	display none
.left
	float left
	
.logout
	color white
	font-size 1.5em
	margin-top -10px
	position absolute
	right 1em		
	top 50%
	
.right
	float right
	
.titulo
	background-color rojo_titulo
	border-bottom-left-radius 14px
	border-bottom-right-radius 14px
	border-top-left-radius 14px
	border-top-right-radius 14px
	color white
	font-size 0.8em
	margin 1em 0.5em 0.5em 0.5em
	padding 0.5em 0.5em
	text-align center
.titulo-header
	text-align center
	margin-top 0.5em
	.usuario
		margin-top 1.2em
		font-size 0.8em