<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>Lista de Actividades</title>
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{% static "css/estilos_la.css" %} "/>
	<script src="{% static "js/show-menu.js" %}"></script>
</head>
<body>
	<header class="head">
		<a href="#" onclick="show_menu()" class="boton_menu icon-menu"></a>
      	<a href="/" class="home icon-home"></a>
		<a href="/actividades/add_actividades/id={{id}}" class="add_tarea icon-pencil"></a>
		<nav class="menu">
			<ul class="lista">
				<li class="items"><a href="/">Tareas sin Atención</a>
				<li class="items"><a href="/tp">Tareas pendientes</a></li>
				<li class="items"><a href="#">Reportes</a></li>
	    		<li class="items">
	    			<div>
	      				<input type="text" placeholder="Tareas o Actividades" />
			      		<a class="icon-search" href="#"></a>
			      	</div>
	    		</li>		
	  		</ul>	
		</nav>
		<div class="titulo-header">
			<div class="memorize">
				<span>Memorize</span>
			</div>
			<div class="usuario">
				<span>{{request.user}}</span>
			</div>
		</div>
		<a href="/" class="logout icon-home"></a>
	</header>
	<h2 class="titulo">Actividades De La Tarea</h4>
	<h2 class="titulo">{{tarea_t}}</h2>
	<section class="container">
		{% for ind in q_actividades %}
		<article class="actividad">
			<p class="actividad-titulo">
				{{ind.Descripcion}}
			</p>
			<!-- <div class="actividad-datos"> -->
				<div class="owner left">
					<span>{{ind.usuario}}</span>
				</div>
				<div class="right date">
					{{ind.fecha}}
				</div>
			<!-- </div> -->
		</article>
		{% endfor %}
	</section>
 </body>
</html>