@import "normalize.styl"
@import "fonts.styl"
@import "nib"

verde = #006A4A
verde_claro = #0E8964
rojo_titulo = #925346
lila = #460C75

body
	font-size 16px
	font-family 'Myriad Pro Regular'
a
	text-decoration none

.button
	background-color verde
	border-bottom-left-radius 19px
	border-bottom-right-radius 19px
	border-top-left-radius 19px
	border-top-right-radius 19px
	color white
	display block
	// height 26px
	padding 0.3em 0.7em
	text-align center
	width 125px
	margin auto
	margin-top 1.5em
.container
	margin 0 0.5em
.errorlist
	background-color lila
	border-bottom-left-radius 14px
	border-bottom-right-radius 14px
	border-top-left-radius 14px
	border-top-right-radius 14px
	color white
	font-size 0.8em
	margin 1em 0.5em 0.5em 0.5em
	padding 0.5em 0.5em
	// text-align left
.form
	margin 0 auto
	width 300px
	p
		text-align center
		margin 1em 0 0 0
	li
		text-align left
		list-style-type circle
	&-field
		margin-top 0.7em
.head
	background-color verde
	color white
	height 4.1em
	margin 0
	// overflow hidden
	position relative
.text-box
	background-color white
	border 2px solid verde_claro
	color black
	height 32px
	margin auto
	width 270px
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	padding 0 0 0 1em
.titulo
	background-color rojo_titulo
	border-bottom-left-radius 14px
	border-bottom-right-radius 14px
	border-top-left-radius 14px
	border-top-right-radius 14px
	color white
	font-size 0.8em
	margin 1em 0.5em 0.5em 0.5em
	padding 0.5em 0.5em
	text-align center
.titulo-header
	text-align center
	padding 0.5em 0 0 0